doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title content
  body 
    h1 #{nickname}님이 작성한글
    h2 #{title} 제목의 #{content} 사실 저장안되요. 미안해요 
    a(href="/") 💁💁💁 홈으로가기 