doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Error
  body 
    h1 사용자정보가 잘못됐어요 다시 시도해보세요 
    a(href='/') 💁💁💁 홈으로가기