doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home
  body 
    h1 세션을 이용한 로그인 연습하기
    if isLogged
      h1 #{nickname}님 반갑습니다 
      a(href='/post') 
        button(type='submit') 글쓰러가기
      a(href='/logout') 
        button(type='submit') 로그아웃
    else
      form(action="/login" method='post') 
        label(for="loginId") 아이디
        input(type="text" id='loginId' placeholder='아이디' name='id')
        label(for="pw") 비밀번호
        input(type="password" id='pw' placeholder='비밀번호' name='password')  
        button(type='submit') 로그인