doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 포스트
  body 
    if isLogged
      h1 #{nickname}님 환영합니다 

      a(href="/")  💁 홈으로 돌아가기
      
      form(action="/post" method='post' style='display:flex; flex-direction:column;')
        input(type="text" name='title' placeholder='제목')
        textarea(name="content", cols="30", rows="10")  
        button(type='submit') 제출
    else 
      h2 로그인이 된 분만 작성가능합니다. 로그인부터 하세요
      a(href="/")  💁 홈으로 돌아가기